@use 'mixins/function.scss' as *;
@use 'mixins/config.scss';

.#{config.$namespace} {
  width: 100%;
  min-width: 300px;
  height: getCssVar('height');
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: getCssVar('background-color');
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  user-select: none;
  cursor: default;

  .#{bem('controls')} {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
  }

  .#{bem('pause-btn')} {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    padding: 0 2px;
    background: transparent;
    border: none;
    cursor: pointer;

    .#{bem('pause-btn', 'icon')} {
      width: 12px;
      height: 16px;
      fill: getCssVar('icon-color');
    }

    &:hover {
      opacity: 0.8;
    }

    &.#{bem('pause-btn', '', 'loading')} {
      opacity: 0.5;
      cursor: wait;
    }
  }

  .#{bem('right-controls')} {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    .#{bem('control-btn')} {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;

      .#{bem('control-btn', 'icon')} {
        width: 18px;
        height: 18px;
        fill: getCssVar('icon-color');
        color: getCssVar('icon-color');
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  svg {
    vertical-align: middle;

    &:focus {
      outline: none;
    }
  }
}
