@use 'mixins/function.scss' as *;
@use 'mixins/config.scss';

.#{config.$namespace} {
  .#{bem('progress')} {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    .#{bem('progress-bar', 'wrapper')} {
      flex: 1;
      cursor: pointer;
      padding: 8px 0;
    }

    .#{bem('progress-bar')} {
      height: 4px;
      border-radius: 2px;
      background-color: #e4e4e4;

      .#{bem('progress-bar', 'fill')} {
        height: 100%;
        background-color: getCssVar('primary-color');
        border-radius: 2px;
        position: relative;
        transition: width 0.1s ease-in-out;
        width: 0;
      }

      .#{bem('progress-bar', 'pin')} {
        width: 12px;
        height: 12px;
        background-color: getCssVar('primary-color');
        border-radius: 50%;
        position: absolute;
        right: -6px;
        top: 50%;
        transform: translateY(-50%);
        cursor: grab;
      }

      &__pin:active {
        cursor: grabbing;
      }
    }
  }

  .#{bem('progress', 'current-time')},
  .#{bem('progress', 'total-time')} {
    font-size: 12px;
    color: getCssVar('text-color');
    width: fit-content;
    padding: 0 2px;
  }
}
